.login-clean {
  background:#149c82;
  padding:80px 0;
}

.houseLogin{
    color: #2c3e50;
}

.titleLogin{
    font-size:45px;
    color:#2c3e50;
    margin:-2px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-top:-25px;
}


.login-clean form {
  max-width:400px;
  width:90%;
  margin:0 auto;
  padding:40px;
  border-radius:4px;
  color:#606c50;
  //box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align:center;
  padding:0 0 20px;
  font-size:100px;
  color:rgb(244,71,107);
}

.login-clean form .form-control {
  background:white;
  border-style: solid;
  border-color: white;
  border-radius:4px;
  box-shadow:none;
  outline:none;
  color:#2c3e50;
  text-indent:8px;
  height:42px;
}


.login-clean form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:30px;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background:#eb3b60;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#2c3e50;
  opacity:0.7;
  text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}




