.btn-group {
  white-space:nowrap;
}

.btn-group > .btn {
  float:none;
  display:inline-block;
  margin-right:-2px;
}

.overViewTable{
  background-color: #F1F1F1;
  border-color: white;
  border-width: thick;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  padding-top: 0px;

 }

.overViewTable:hover{
  background-color: #dfdfdf;

}

.abrechnungen{
  background-color: #F1F1F1;
  border-color: white;
  border-width: thick;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.abrechnungen:hover{
  background-color: #dfdfdf;
  transform: scale(1.1);

}





