.btn-group {
  white-space:nowrap;
}

.btn-group > .btn {
  float:none;
  display:inline-block;
  margin-right:-2px;
}

.overViewTable{
  background-color: #F1F1F1;
  border-color: white;
  border-width: thick;
  border-style: solid;
  border-radius: 10px
}

